#title {
  text-align: center;
  padding: 4px;
}

#set-grid {
  margin-bottom: 20px;
  text-align: center;
}

#grid {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  flex: 1 0 auto;
  border: 1px solid #ccc;
}

.square:before {
  /* needed to make divs actual squares
  /* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
  /* :before pseudo-element to insert a 0 width element with a padding-top of 100%. That 100% is 100% of the width, meaning this element with no content will be equally as tall as its container */
  content: "";
  padding-top: 100%;
  display: block;
}
