/*
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

*/

#title {
   text-align: center;
   padding: 4px;
}

#set-grid {
    margin-bottom: 20px;
    text-align: center;
}

#grid {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 960px;
    margin: 0 auto;
}

.highlight {
  background-color: red;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
    flex: 1;
    padding: 1em;
}
