#title {
  text-align: center;
  padding: 4px;
}

#container {
  text-align: center;
}

#options {
  background-color: #ff5e5b;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  width: 920px;
  height: 100px;
  display: flex;
}

#mouse-options,
#grid-options {
  display: flex;
  flex: 1;
  width: 200px;
  flex-wrap: wrap;
  flex-direction: column;
}

.mouse-option {
  padding: 4px;
}

#square-size-container,
#grid-size-container {
  padding: 8px;
}

#grid-options {
  margin-right: 20px;
}

#grid {
  display: flex;
  flex-direction: column;
  border: solid #ff5e5b;
  border-width: 0 100px 50px;
  border-radius: 0 0 20px 20px;
  width: 720px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  flex: 1 0 auto;
  border: 1px solid #ccc;
}

.square:before {
  /* needed to make divs actual squares
  /* https://stackoverflow.com/questions/29307971/css-grid-of-squares-with-flexbox */
  /* :before pseudo-element to insert a 0 width element with a padding-top of 100%. That 100% is 100% of the width, meaning this element with no content will be equally as tall as its container */
  content: "";
  padding-top: 100%;
  display: block;
}
